* {
    vertical-align: top;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}

.p-gallery {
    position: relative;
    list-style: none;
}
.p-gallery li {
    position: absolute;
    transition-property: top,left;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
.p-gallery-reserve {
    display: none;
}
